ol>li>a , ol>li>a:hover {
    color: #000;
    text-decoration: none;
}
.control-icon>a>i {
    margin: 0 10px;
    font-size: 18px;
    color: #000;
    text-decoration: none;
}
.button-add{
    margin-bottom: 20px;
}
.button-add>button{
    display: inline-block;
    padding: 10px 25px;
    background: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.button-add>button:focus{
    border: none;
    outline: none;
}
input[type=radio]:focus , select{
    outline: none;
}
input::placeholder {
    color: #dddddd;
    font-size: 12px;
    font-style: italic;
}
#image {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 20px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
select {
    height: 32px;
}
